{% extends 'main.html' %}
{% block content %}
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                {% for post in posts %}
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ post.image.url }}" alt=""/></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="single.html" class="fh5co_magna py-2"> {{ post.content }} </a> <a href="/singlepage" class="fh5co_mini_time py-3">
                        {{ post.pub_date }}</a>
                        <div class="fh5co_consectetur"> {{ post.content }}
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
</div>
{% endblock %}