{% extends 'main.html' %}
{% block content %}
<div class="container-fluid pb-4 pt-4 paddding" dir="rtl">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">اعضای انجمن علمی </div>
                </div>
                {% for video in users %}
                        <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ video.image.url }}" alt=""/></div> <div></div>
                        </div>
                    </div>
                   <div class="col-md-7 animate-box">
                        <a href="/singlepageVideo/{{ video.id }}" class="fh5co_magna py-2"> {{ video.name }} </a>
                        <div class="fh5co_consectetur"> {{ video.name }}
                        </div>
                       <a href="/singlepageVideo/{{ post.id }}" class="fh5co_mini_time py-3">
                        {{ video.pub_date }}</a>
                    </div>
                </div>

                {% endfor %}



            </div>
        </div>
    </div>
</div>
{% endblock %}